body
{ 
  margin : 0;
  padding : 0;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
}



span {
    font-family: monospace;
    font-size: 20px;
    position: absolute;
    top : 50%;
    left: 50%;
}
